* {
    margin:0px;
    padding:0px;
}

#header {
    margin:1px;
    width: 800;
    font-family:Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    text-decoration:none;
    padding:15px 70px;
    display:block;
    font-size: 20px;
    
    
}

.nav li a:hover {
    background-color:#FFA726;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}

